<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Sign Up</title>
  <!-- Bootstrap core CSS-->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="css/sb-admin.css" rel="stylesheet">
</head>


<body>
	 <div class="container">
	     <form class="form-horizontal" role="form" method="POST" th:action="@{/signup}" th:object="${user}">
	      <div class="row">
	             <div class="col-md-3"></div>
	             <div class="col-md-6">
	              <div class="alert alert-success" role="alert" th:if="${msg}" th:utext="${msg}">
	     </div>
	             </div>
	         </div>
	         <div class="row">
	             <div class="col-md-3"></div>
	             <div class="col-md-6">
	                 <h2>Register New User</h2>
	                 <hr>
	             </div>
	         </div>
	         <div class="row">
	             <div class="col-md-3 field-label-responsive">
	                 <label for="name">First Name</label>
	             </div>
	             <div class="col-md-6">
	                 <div class="form-group">
	                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
	                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
	                         <input type="text" th:field="*{firstname}" class="form-control" id="firstname"
	                                placeholder="First Name" required autofocus>
	                     </div>
	                 </div>
	             </div>
	         </div>
	         <div class="row">
	             <div class="col-md-3 field-label-responsive">
	                 <label for="name">Last Name</label>
	             </div>
	             <div class="col-md-6">
	                 <div class="form-group">
	                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
	                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-user"></i></div>
	                         <input type="text" th:field="*{lastname}" class="form-control" id="lastname"
	                                placeholder="Last name" required autofocus>
	                     </div>
	                 </div>
	             </div>
	         </div>
	         <div class="row">
	             <div class="col-md-3 field-label-responsive">
	                 <label for="email">Email</label>
	             </div>
	             <div class="col-md-6">
	                 <div class="form-group">
	                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
	                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
	                         <input type="text" th:field="*{email}" class="form-control" id="email"
	                                placeholder="username@jackrutorial.com" required autofocus>
	                     </div>
	                 </div>
	             </div>
	             <div class="col-md-3">
	                 <div class="form-control-feedback">
	                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
	                         </span>
	                 </div>
	             </div>
	         </div>
	         <div class="row">
	             <div class="col-md-3 field-label-responsive">
	                 <label for="password">Password</label>
	             </div>
	             <div class="col-md-6">
	                 <div class="form-group has-danger">
	                     <div class="input-group mb-2 mr-sm-2 mb-sm-0">
	                         <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
	                         <input type="password" th:field="*{password}" class="form-control" id="password"
	                                placeholder="Password" required>
	                     </div>
	                 </div>
	             </div>
	             <div class="col-md-3">
	                 <div class="form-control-feedback">
	                         <span class="text-danger align-middle" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
	                         </span>
	                 </div>
	             </div>
	         </div>
	         <div class="row">
	             <div class="col-md-3"></div>
	             <div class="col-md-6">
	                 <button type="submit" class="btn btn-success"><i class="fa fa-user-plus"></i> Register</button>
	             </div>
	         </div>
	     </form>
	 </div>
</body>	

</html>
