/* variable */
:root{
	
}


* {
  box-sizing: border-box
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.midnavbar {
  width: 100%;
  background-color: #343a40;
  overflow: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.midnavbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 17px;
  width: 25%; /* Four links of equal widths */
  text-align: center;
}

.midnavbar.five a {
	width: 20%; 
}

.midnavbar a:hover {
  /* background-color: #000; */
  background-color: #ff9300;
  border-radius: 10px; 
  
}

.mnbactive {
  background-color: #4CAF50;
  border-radius: 10px; 
}

@media screen and (max-width: 500px) {
  .midnavbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
  
  .midnavbar.five a {
 
    display: block;
    width: 100%;
    text-align: left;
  }
}

